body {
  background: rgb(25, 24, 32) !important;
  background: linear-gradient(
    240deg,
    rgb(40, 33, 83) 1%,
    rgb(38, 31, 100) 50%,
    rgb(38, 17, 95) 100%
  ) !important;
}

.header {
  background-color: rgba(25, 25, 25, 0.9);
  color: rgb(236, 253, 249);
}
